{
  "extends": [
    "xo",
    "xo-typescript"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-implicit-globals": "off",
    "typescript/no-type-alias": "off",
    "typescript/generic-type-naming": "off"
  }
}